.popup {
  width: 60%;
  height: 500px;

  background-color: rgba(255, 255, 255, 0.94);

  border-radius: 2rem;

  position: fixed;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);

  animation: drag 0.5s ease forwards;

  z-index: 3;

  @include flex__center("space-between");
  flex-direction: column;

  //popup header
  .popup__header {
    @include flex__center("space-between");
    @include media("phone") {
      border-radius: 0;
    }

    width: 100%;

    padding: 1em;

    height: 60px;
    background-color: $orange;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    .popup__header_description {
      font-size: 1.2rem;
      color: $red;
    }
    .popup__header_close {
      font-size: 2rem;
      color: #fff;
      cursor: pointer;
    }
  }
  // section
  .popup__section {
    width: 90%;
    @include flex__center("space-around");
    @include media("phone") {
      flex-direction: column;
    }

    .win_image {
      width: 200px;
      height: 200px;
    }

    .wheel-win-number {
      color: $orange;
      font-size: 10rem;
    }
  }
  //button
  .popup__button {
    height: 20%;
  }

  @include media("tablet") {
    width: 90%;
  }
  @include media("phone") {
    animation-name: drag_mobile;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.popup__backdrop {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 2;

  background-color: rgba(0, 0, 0, 0.2);
}

.popup__hidden {
  display: none;
}
